{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "@loadable/babel-plugin"
      ],
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": ["last 2 major versions"]
            }
          }
        ],
        "@babel/preset-react"
      ]
    }
  },
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@loadable/babel-plugin",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 major versions"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
