{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "plugins": ["react", "import", "react-hooks", "@babel"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "function-paren-newline": 0,
    "implicit-arrow-linebreak": 0,
    "import/extensions": 0,
    "import/first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": "off",
    "indent": 0,
    "max-len": ["warn", { "code": 150 }],
    "no-console": 0,
    "no-extra-semi": 1,
    "no-lone-blocks": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": ["warn", "BinaryExpression[operator='of']"],
    "no-underscore-dangle": [0],
    "no-use-before-define": 0,
    "object-curly-newline": 0,
    "one-var-declaration-per-line": 0,
    "one-var": 0,
    "operator-linebreak": 0,
    "prefer-destructuring": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": [2, { "forbid": ["any"] }],
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 2,
    "semi": 0,
    "template-curly-spacing": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": true
      }
    ],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  },
  "extends": ["airbnb"]
}
