# min release age in days, needs npm 11.10.0 or later (introduced in node v24.14.1) to have any effect
min-release-age=7

# don't run scripts (e.g. post-install scripts) of dependencies automatically
ignore-scripts=true

