[flake8]
ignore =
    # line too long (97 > 79 characters)
    E501,
    # block comment should start with '# '
    E265,
    # at least two spaces before inline comment
    E261,
    # expected 2 blank lines, found 1
    E302,
    # expected 2 blank lines after class or function definition, found 1
    E305,
    # no newline at end of file
    W292,
    # multiple spaces after ':'
    E241,
    # whitespace before '}'
    E202,
    # whitespace before '{'
    E201,
    # whitespace before ':'
    E203,
    # module level import not at top of file
    E402,
    # continuation line under-indented for visual indent
    E128,
    # module imported but unused
    F401,
    # First line should end with a period
    D400,
    # First line should be in imperative mood; try rephrasing
    D401,
    # line break before binary operator
    W503

# often contains "unused" imports
exclude = etsin_finder/frontend,tests
