.tox/
*~
*.pyc
.pytest_cache/
.idea/
__pycache__
.cache
*.egg-info
.eggs
.coverage
coverage
.env
.cursor/

# Backup files from git merge
*.orig

# VSCode settings
**/*.vscode

# MacOS-related
*.DS_Store

# NPM/Node-related
**/frontend/coverage
**/frontend/node_modules
**/frontend/npm-debug.log
**/frontend/build/
**/node_modules/
package-lock.json

# Vite
**/.vite

# Docker-related
app_config
etsin_finder.log
etsin_finder.log.*

# Nginx
nginx/certs/
