blinker==1.4
Flask==1.0.2
Flask-Mail==0.9.1
flask-restful==0.3.7
gevent==1.4.0
gunicorn==19.9.0
marshmallow==v3.0.0rc6
pyjwt==1.7.1
pymemcache==2.1.1
python-dateutil==2.8.0
python3-saml==1.5.0
pytz==2018.9
pyyaml==5.1
requests==2.21.0
tox==3.7.0
Werkzeug==1.0.1
