<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{ app_description }}"
    />
    <meta name="theme-color" content="#007FAD" />
    <link rel="manifest" href="/static/manifest.json" />
    <title>{{ app_title }}</title>
    <style>
      .loader:empty {
        position: absolute;
        top: calc(50% - 3em);
        left: calc(50% - 3em);
        width: 6em;
        height: 6em;
        border: 0.3em solid rgba(0, 0, 0, 0.1);
        border-left: 0.3em solid #007fad;
        border-radius: 50%;
        animation: load8 1.1s infinite linear;
      }

      @keyframes load8 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>

    <% if(!!(htmlWebpackPlugin.options.MATOMO_URL && htmlWebpackPlugin.options.MATOMO_SITE_ID)) { %>
    <script type="text/javascript">
      var _paq = window._paq || [];
      (function() {
        var u="<%= htmlWebpackPlugin.options.MATOMO_URL %>";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '<%= htmlWebpackPlugin.options.MATOMO_SITE_ID %>']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <% } %>
  </head>

  <body>
    <noscript>Javascript needs to be enabled to see this page</noscript>
    <div id="app-spinner" class="loader"></div>
    <div id="root"></div>
  </body>
</html>
