<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ app_description }}" />
    <meta name="theme-color" content="#007FAD" />
    <title>{{ app_title }}</title>
    <style>
      .loader:empty {
        position: absolute;
        top: calc(50% - 3em);
        left: calc(50% - 3em);
        width: 6em;
        height: 6em;
        border: 0.3em solid rgba(0, 0, 0, 0.1);
        border-left: 0.3em solid #007fad;
        border-radius: 50%;
        animation: load8 1.1s infinite linear;
      }

      @keyframes load8 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .notification-banner {
        visibility: hidden;
      }
    </style>

    <meta name="fdwe-auto-disabled" content="true" />
    <meta name="fdwe-service" content="ETSIN" />
    <meta name="fdwe-scope" content="HOME" />
    {% if matomo_url -%}
    <script defer src="{{ matomo_url }}"></script>
    {% endif %} {% if sso_host -%}
    <link rel="stylesheet" type="text/css" href="{{ sso_host }}/notification.css" />
    <script defer src="{{ sso_host }}/notification.js"></script>
    {% endif %}
  </head>

  <body>
    <noscript>Javascript needs to be enabled to see this page</noscript>
    <div id="app-spinner" class="loader"></div>
    <div id="root"></div>
  </body>
</html>
