/* Base */
button.btn {
  cursor: pointer; }
  button.btn.btn-etsin {
    background-color: #3e94c5;
    color: white; }
    button.btn.btn-etsin:hover {
      background-color: #3686b4; }
  button.btn.btn-transparent {
    background-color: transparent;
    color: #969696;
    font-weight: 600; }
    button.btn.btn-transparent:hover {
      text-decoration: underline; }

/* Layout */
.header {
  padding: 1.5rem 0 0;
  background-color: white;
  border-bottom: 4px solid #e7e9ed; }

.top-logo {
  margin-bottom: 20px; }

.top-nav {
  justify-content: space-between;
  font-weight: 700; }

.top-nav-right {
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center; }
  .top-nav-right .btn-etsin {
    margin-right: 6px; }

.content .hero {
  background-color: #3e94c5;
  color: white;
  min-height: 300px;
  display: flex;
  align-items: center; }

.footer {
  min-height: 200px;
  background-color: #ebebeb;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; }

/* Components */
.navigation {
  align-items: center;
  display: inline-flex; }
  .navigation a.nav-link {
    text-transform: uppercase;
    color: #969696; }
    .navigation a.nav-link:hover {
      color: #707070; }
    .navigation a.nav-link.active {
      color: #3e94c5;
      position: relative; }
      .navigation a.nav-link.active:hover {
        color: #3077a0; }
      .navigation a.nav-link.active:after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #3e94c5;
        bottom: -7px;
        left: 0%; }
