.content {
  padding: 20px 0;
}
.content-footer {
  padding: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
}
.sidebar {
  background-color: white;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 5px;
  >div:not(:first-of-type) {
    padding: 20px 0;
    &.separator {
      padding: 20px 20px;
    }
  }
  .separator {
    padding: 0px 20px 20px;
    margin: 0 -20px;
    border-bottom: 1px dashed gray;
  }
}