.header {
  background-color: $bg-primary;
  border-bottom: 4px solid $color-lightgray;
}

.header-row {
  padding: 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mappy-bp(md) {
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.logo {
  height: 2em;
  @include mappy-bp(md) {
    height: 4em;
  }
}

.slogan {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  color: $color-primary;
}
