button.btn {
  cursor: pointer;
  &.btn-etsin {
    background-color: $color-primary;
    color: white;
    &:hover {
      //box-shadow: inset 1px 1px 2px $inset-dark;
      background-color: darken($color-primary, 5);
    }
  }
  &.btn-etsin-outline { // outline button
    background-color: transparent;
    color: $color-primary;
    border: 2px solid $color-primary;
  }
  &.btn-transparent {
    background-color: transparent;
    color: $color-gray;
    &:hover {
      text-decoration: underline;
    }
    &:active, &:focus, &:visited {
      background-color: transparent;
    }
  }
  &.btn-gray {
    line-height: 0;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    background-color: $color-lightgray;
    color: $color-dark;
  }
  &:disabled {
    cursor: initial;
  }
  &.btn-back {
    color: $color-primary;
  }
}
