.btn {
  cursor: pointer;

  &.btn-etsin {
    background-color: $color-primary;
    color: white;
    &:hover {
      //box-shadow: inset 1px 1px 2px $inset-dark;
      background-color: darken($color-primary, 5);
    }
  }

  &.btn-etsin-outline { // outline button
    background-color: transparent;
    color: $color-primary;
    border: 2px solid $color-primary;
  }

  &.btn-select {
    background-color: transparent;
    color: $color-primary;
    border: 2px solid $color-primary;
    transition: border-radius 0.2s ease 0.5s;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      background-color: $color-primary;
      color: white;
    }
    &.open {
      border-radius: 5px 5px 0px 0px;
      transition: border-radius 0.2s ease;
    }
  }

  &.btn-select-options {
    color: $color-gray;
    border-radius: 0px;
    &.active {
      background-color: $color-primary;
      color: white;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &.btn-transparent {
    background-color: transparent;
    color: $color-gray;
    &:hover {
      text-decoration: underline;
    }
    &:active, &:focus, &:visited {
      background-color: transparent;
    }
  }

  &.btn-gray {
    line-height: 0;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    background-color: $color-lightgray;
    color: $color-dark;
  }

  &:disabled {
    cursor: initial;
  }

  &.btn-back {
    color: $color-primary;
  }
}

.etsin-tabs {
  border-bottom-color: $color-primary;
  .nav-link {
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    transition: all ease-out 0.3s;
    &:not(.active) {
      background-color: $color-primary;
      color: white;
      &:hover {
        background-color: mix($color-primary, black, 80)
      }
    }
    &.active, &:hover {
      border-color: $color-primary $color-primary transparent $color-primary;
    }
  }
}
