// backgrounds
$bg-primary: white;
$bg-secondary: rgb(235,235,235);

// colors
$color-primary: rgb(62,148,197);
$color-white: white;
$color-lightgray: rgb(231,233,237);
$color-gray: rgb(150,150,150);

//buttons
$inset-dark: rgba(0,0,0,0.3);