// backgrounds
$bg-primary: white;
$bg-light: #f5f5f5;
$bg-secondary: rgb(235, 235, 235);

// colors
$color-primary: rgb(77, 179, 231);
$color-secondary: rgb(235, 235, 235);
$color-white: white;
$color-superlightgray: rgb(246, 246, 246);
$color-lightgray: rgb(231, 233, 237);
$color-medgray: rgb(180, 180, 180);
$color-gray: rgb(150, 150, 150);
$color-darkgray: rgb(110, 110, 110);
$color-dark: rgb(70, 70, 70);
$color-error: #eb6672;

//buttons
$inset-dark: rgba(0, 0, 0, 0.3);
