.dataset-downloads {
  margin-top: 1em;
  .downloads-header {
    background-color: $color-primary;
    padding: 1em 1.5em;
    color: white;
  }
  .downloads-table {
    table-layout: fixed;
    .rowIcon {
      width: 7%;
    }
    .rowName {
      width: 35%;
    }
    .rowSize {
      width: 13%;
    }
    .rowCategory {
      width: 20%;
    }
    .rowButtons {
      width: 25%;
    }
    .thead-dark {
      background-color: $color-dark;
      color: white;
      th {
        border: 0;
        font-weight: 400;
      }
    }
    .folderButton {
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
    tbody {
      position: relative;
      overflow-y: hidden;
      box-sizing: border-box;
      border: 2px solid $color-lightgray;
      border-top: none;
      color: $color-dark;
      font-weight: 300;
      tr {
        &:nth-child(even) {
          background-color: $color-superlightgray;
        }
        td {
          vertical-align: middle;
          border: none;
          &:first-of-type {
            padding-right: 0.5em;
            padding-left: 1em;
            div {
              float: right;
            }
          }
          p {
            size: 0.8em;
            margin: 0;
          }
        }
      }
    }
  }
}
