.dsDownloads {
  .row:last-of-type {
    margin-bottom: -15px;
  }
  .table {
    margin-bottom: 0;
    p {
      font-weight: 700;
      margin: 0
    }
    .urn {
      font-size: 0.9em;
      color: $color-gray;
    }
    td, th {
      padding: 15px;
    }
    tbody tr:first-of-type {
      td {
        border-top: 0;
      }
    }
  }
}
.thead-etsin {
  border: 0;
  background-color: transparent;
  th, tr {
    border: 0 !important;
  }
  &:after {
    content: "";
    display: block;
    height: 49px;
    width: 500%;
    background: $bg-secondary;
    margin: -49px -300px;
    z-index: -1;
    position: relative;
  }
}