.sidebar {
  h4 {
    margin-bottom: 0;
  }
  >div {
    padding: 20px 0px;
    &:first-of-type {
      padding: 0 0 20px;
    }
  }
  .separator {
    &:after {
      content: "";
      display: block;
      height: 1px;
      background-color: $color-medgray;
      position: relative;
      bottom: -20px;
      width: 200%;
      margin: 0 -100px;
    }
  }
}