$filter-padding: 1em 1.5em;

.search-filtering {
  margin-bottom: 1em;
  .filter-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-dark;
    border-radius: 0;
    width: 100%;
    text-align: left;
    border: 2px solid $color-lightgray;
    border-bottom: none;
    padding: $filter-padding;
    background-color: $color-lightgray;
    font-weight: 700;
    transition: all 0.3s ease;
    i {
      pointer-events: none;
      height: 0.5em;
      display: flex;
      align-items: center;
    }
    &:focus {
      outline: none;
      background-color: mix($color-lightgray, black, 90);
      border-color: mix($color-lightgray, black, 90);
    }
    &:focus + .filter-items {
      border-color: mix($color-lightgray, black, 90);
    }
  }
  .filter-items {
    border: 2px solid $color-lightgray;
    padding: 0em 1.5em;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &.open {
      max-height: 100px;
      padding: $filter-padding;
    }
    button {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      color: $color-dark;
      &:focus {
        outline: none;
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
  .filter-section {
    margin-bottom: 4px;
  }
}