.hero {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  &.hero-primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &.hero-full {
    width: 100%;
  }
}
