.hero {
  min-height: 300px;
  display: flex;
  align-items: center;
  &.hero-primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &.hero-full {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
