#nprogress .bar {
  background: $color-primary;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color-primary, 0 0 5px $color-primary;
}

#nprogress .spinner {
  left: 15px;
}

#nprogress .spinner-icon {
  border-top-color: $color-primary;
  border-left-color: $color-primary;
}
