.holder {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.spinner {
  height: 4em;
  width: 4em;
  animation: spinner 0.8s infinite linear;
  border: 8px solid $color-primary;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes spinner {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}