#nprogress .bar {
  background: $color-primary;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color-primary, 0 0 5px $color-primary;
}

#nprogress .spinner-icon {
  border-top-color: $color-primary;
  border-left-color: $color-primary;
}

.holder {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 0em;
  transition: all 0.3s ease;
  overflow: hidden;
  margin: 0;
  &.loader-active {
    margin-top: 0.2em;
    margin-bottom: 1em;
    max-height: 4em;
  }
}

.results-spinner {
  height: 4em;
  width: 4em;
  animation: spinner 0.8s infinite linear;
  border: 8px solid $color-primary;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
