.dataset-title {
  margin-bottom: 1em;
  h1 {
    font-size: 1.7em;
    color: $color-dark;
    margin-bottom: 0;
  }
}
.basic-info {
  margin-bottom: 1em;
  p,
  span {
    margin-bottom: 0;
    font-size: 0.95em;
    color: $color-gray;
  }
}

.dsContent {
  padding: 2em 0;
  .description {
    overflow-wrap: break-word;
  }
}
