.etsin-tabs {
  border-bottom-color: $color-primary;
  .nav-item {
    &:first-of-type {
      margin-left: 1em;
    }
  }
  .nav-link {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    transition: all ease-out 0.3s;
    &:not(.active) {
      background-color: transparent;
      color: $color-medgray;
      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
    &.active,
    &:hover {
      color: $color-primary;
      border-color: $color-primary $color-primary transparent $color-primary;
    }
  }
}
