.listItem {
  margin-bottom: 1.3em;
  a {
    color: inherit;
    text-decoration: none;
    .content-box {
      transition: all 0.1s ease;
    }
    &:hover {
      .content-box {
        border: 2px solid $color-primary;
        box-shadow: 0 2px 3px 0px $color-lightgray;
      }
    }
    .title {
      color: $color-primary;
      margin-bottom: 0.5em;
      margin-right: 1em;
      line-height: 1.5em;
    }
  }
  .item-header {
    margin-bottom: 0em;
    flex-wrap: wrap;
    font-size: 0.9em;
    @include mappy-bp('md') {
      font-size: 1em;
      flex-wrap: nowrap;
    }
  }
}
